{% load static %}
{% load user_tags %}
<nav class="nav">
    {% if user.is_authenticated %}
        {% if user|in_group:"Менеджеры" %}
            <a href="{% url 'users:user_list' %}" class="nav-link px-2 link-dark">Пользователи</a>
        {% endif %}
    <a href="{% url 'newsletter:mailing_stats' %}" class="nav-link px-2 link-dark">Статистика</a>
    <a href="{% url 'newsletter:mailing_list' %}" class="nav-link px-2 text-danger">Рассылки</a>
    <a href="{% url 'newsletter:client_list' %}" class="nav-link px-2 link-dark">Клиенты</a>
    <a href="{% url 'newsletter:attempt_list' %}" class="nav-link px-2 link-dark">Попытки рассылок</a>

     {% if not user|in_group:"Менеджеры" %}
        <a href="{% url 'newsletter:message_list' %}" class="nav-link px-2 link-dark">Сообщения</a>
    {% endif %}
    <a href="{% url 'users:user_detail' user.id %}" class="nav-link px-2">
        <img src="{% if user.avatar %}{{ user.avatar.url }}{% else %}{% static 'img/avatar-placeholder.png' %}{% endif %}"
             alt="avatar" class="rounded-circle" width="32" height="32">
        <span class="ms-1">Профиль</span>
    </a>

    <form action="{% url 'users:logout' %}" method="post" class="d-inline ms-3">
        {% csrf_token %}
        <button class="btn btn-link nav-link px-2" type="submit">Выход</button>
    </form>
    {% else %}
    <a href="{% url 'users:login' %}" class="nav-link px-2">Вход</a>
    <a href="{% url 'users:register' %}" class="nav-link px-2">Регистрация</a>
    <a href="{% url 'users:password_reset' %}" class="nav-link px-2">Забыли пароль?</a>
    {% endif %}
</nav>
